<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  
<div id="wrapper">
  <div id="header">
    <nav class="navbar">
      <div class="nav-container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">THE DAILY JOURNAL</a>
        </div>
        <input id="nav-check" type="checkbox">
        <label for="nav-check" class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </label>
          <ul class="navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">Home</a></li>
            <li id="about"><a href="/about">About</a></li>
            <li id="contact"><a href="/contact">Contact</a></li>
          </ul>
      </div>
    </nav>
  </div>
  <body>
    
    
