<%- include('partials/header'); -%>
<div class="main">
    <div class="content-container">
        <h1><%= aboutContent %></h1>
    </div>
    <div class="side-bar">
        
    </div>
</div>

<%- include('partials/footer'); -%>