<%- include('partials/header'); -%>
<div class="header-image">
    <h1 class="site-title">The Daily Journal</h1>
  </div>
<div class="main">

    <div class="content-container"> <!-- CONTAINER FOR THE CONTENT IS HERE -->
        <h1 class="content-title">Welcome to The Daily Journal</h1>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quia maxime assumenda maiores? Nesciunt commodi dolorem amet aspernatur omnis consequuntur nobis provident reiciendis, quis non magnam vero excepturi voluptates enim!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem nesciunt laborum, quae quisquam, illum sed id modi voluptate adipisci illo quibusdam libero ipsa assumenda fugiat ratione tempora a quia soluta.
            Quasi quidem sed dolorem repudiandae explicabo magni blanditiis incidunt minus rerum voluptatem iste, quibusdam, ipsam dolores consequatur est maiores consectetur laborum sunt sit, omnis porro mollitia suscipit? Adipisci, sint a.
            Et, nihil illo mollitia culpa sed ea asperiores quos, fugiat praesentium non odio aut quas eligendi numquam eius similique minus repellendus commodi enim ad id totam! Ipsum itaque cumque et.
        </div>
        

        <a class="article-thumbnail">
            <div class="article-thumbnail-image" id="article1" >
            </div>
            <div class="article-thumbnail-content">
                <p class="article-thumbnail-content-title">
                    This is a title Lorem ipsum dolor sit amet consectetur 
                </p>
                <p class="article-thumbnail-content-subtitle">
                    January 12, 2021
                </p>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, natus blanditiis ratione pariatur dolorem molestiae.</p> 
            </div>
        </a>
        <a class="article-thumbnail">
            <div class="article-thumbnail-image" id="article2">
            </div>
            <div class="article-thumbnail-content">
                <p class="article-thumbnail-content-title">
                    This is a title Lorem ipsum dolor sit amet consectetur 
                </p>
                <p class="article-thumbnail-content-subtitle">
                    January 12, 2021
                </p>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, natus blanditiis ratione pariatur dolorem molestiae.</p> 
            </div>
        </a>
        <a class="article-thumbnail">
            <div class="article-thumbnail-image" id="article3">
            </div>
            <div class="article-thumbnail-content">
                <p class="article-thumbnail-content-title">
                    This is a title Lorem ipsum dolor sit amet consectetur 
                </p>
                <p class="article-thumbnail-content-subtitle">
                    January 12, 2021
                </p>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, natus blanditiis ratione pariatur dolorem molestiae.</p> 
            </div>
        </a>
        <a class="article-thumbnail">
            <div class="article-thumbnail-image">
            </div>
            <div class="article-thumbnail-content">
                <p class="article-thumbnail-content-title">
                    This is a title Lorem ipsum dolor sit amet consectetur 
                </p>
                <p class="article-thumbnail-content-subtitle">
                    January 12, 2021
                </p>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, natus blanditiis ratione pariatur dolorem molestiae.</p> 
            </div>
        </a>
    </div>
    <div class="side-bar"> <!-- CONTAINER FOR THE SIDE-CONTENT IS HERE -->
        <div class="content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ducimus et esse consequuntur iste minima optio sequi non laborum consectetur libero officia necessitatibus deserunt dolor ullam quas nam corrupti repellendus!
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ducimus et esse consequuntur iste minima optio sequi non laborum consectetur libero officia necessitatibus deserunt dolor ullam quas nam corrupti repellendus!
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ducimus et esse consequuntur iste minima optio sequi non laborum consectetur libero officia necessitatibus deserunt dolor ullam quas nam corrupti repellendus!
        </div>
    </div>
<%- include('partials/footer'); -%>