@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
}
head{
    min-width: 500px;
}
body {
    margin-top: 69px;
    background-color:  #f0f0f0;
    margin-bottom: 40px;
}

/* THIS IS FOR THE HEADER */
.navbar{
    background-color: #2b2b2b;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    min-width: 500px;
}
.nav-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin:auto;
}
.navbar-brand{
    padding:25px;
}
.navbar-right{
    display: flex;
    list-style: none;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: 0;
}
.navbar-right a{
    padding: 25px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right a:hover{
    background-color: #474747;
}
#nav-check{
    position: absolute;
    visibility: hidden;
}

@media only screen and (max-width: 570px) {
    
    #nav-check:checked ~ .hamburger{
        background-color: #474747;
    }
    #nav-check:checked ~ .navbar-right{
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #2b2b2b;
        top: 69px;
        right: 0px;
    }
    #nav-check:not(:checked) ~ .navbar-right{
        display: none;
    }
    .navbar-right a{
        padding: 25px 45px 25px 45px;
    }
    .hamburger {
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        padding: 23px 20px 16px 20px;
        cursor: pointer;
    }
    .hamburger:hover{
        background-color: #474747;
    }
    .hamburger span {
        display: block;
        width: 25px;
        height: 8px;
        border-top: 2px solid #eee;
    }
}

/* MAIN CONTENT */
.main{
    min-width: 490px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content-container{
    min-width: 490px;
    max-width: 850px;
    width: 100%;
    margin-left: 0px;
}
.side-bar {
    max-width: 370px;
    margin-right:0px;
}
@media only screen and (max-width: 940px){
    .main{
        flex-direction: column;
    }
}
@media only screen and (max-width:600px){
    .article-thumbnail-image{
        width: 30%;
    }
    .article-thumbnail-content{
        width: 70%;
    }
}
.header-image{
    background: url(/images/journal.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-title{
    font-size: 4.3rem;
    color: #ffffff;
}

/* THIS IS FOR THE CONTENT */
.content-title{
    font-size: 2.3rem;
    margin-top: 20px;
    padding: 20px;
}
.content{
    margin-top:20px;
    padding: 20px;
    background-color: #ffffff;
}
.article-thumbnail{
    margin-top:20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.article-thumbnail-image{
    width: 20%;
    background: url(/images/journal.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.article-thumbnail-content{
    width: 80%;
    padding: 20px;
    font-size: 1rem;
}
.article-thumbnail-content-title{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.article-thumbnail-content-subtitle{
    font-size: 0.9rem;
    color: #424242;
    margin-bottom: 5px;
}



#article1 {
    background: url(/images/content-thumbnail/image3.jpeg);
    background-size: cover;
}
#article2 {
    background: url(/images/content-thumbnail/image2.jpeg);
    background-size: cover;
}
#article3 {
    background: url(/images/content-thumbnail/image1.jpeg);
    background-size: cover;
}