@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
head{
    min-width: 500px;
}

/* THIS IS FOR THE HEADER */
.navbar{
    background-color: #2b2b2b;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    min-width: 500px;
}
.nav-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin:auto;
}
.navbar-brand{
    padding:25px;
}
.navbar-right{
    display: flex;
    list-style: none;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: 0;
}
.navbar-right a{
    padding: 25px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right a:hover{
    background-color: #474747;
}
#nav-check{
    display: none;
}
#hamburger{
    display: none;
}

@media only screen and (max-width: 570px) {
    .navbar-right{
        visibility: hidden;
    }
    #hamburger {
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        padding: 23px 20px 16px 20px;
    }
    #hamburger:hover{
        background-color: #474747;
    }
    #hamburger span {
        display: block;
        width: 25px;
        height: 8px;
        border-top: 2px solid #eee;
    }
    #nav-check:checked ~ .navbar-right{
        visibility: visible;

    }
}
/* MAIN CONTENT */
.main{
    margin-top: 75px;
    min-width: 490px;
}