@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
}
head{
    min-width: 500px;
}
body {
    margin-top: 69px;
    background-color:  #f0f0f0;
    margin-bottom: 40px;
}

/* THIS IS FOR THE HEADER */
.navbar{
    background-color: #2b2b2b;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    min-width: 500px;
}
.nav-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin:auto;
}
.navbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand{
    padding:25px 25px 25px 25px;
    text-decoration: none;
    color: #ffffff;
}
.navbar-right{
    display: flex;
    list-style: none;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: 0;
}
.navbar-right a{
    padding: 25px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right a:hover{
    background-color: #474747;
}
#nav-check{
    position: absolute;
    visibility: hidden;
}

@media only screen and (max-width: 570px) {
    
    #nav-check:checked ~ .hamburger{
        background-color: #474747;
    }
    #nav-check:checked ~ .navbar-right{
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #2b2b2b;
        top: 69px;
        right: 0px;
    }
    #nav-check:not(:checked) ~ .navbar-right{
        display: none;
    }
    .navbar-right a{
        padding: 25px 45px 25px 45px;
    }
    .hamburger {
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        padding: 23px 20px 16px 20px;
        cursor: pointer;
    }
    .hamburger:hover{
        background-color: #474747;
    }
    .hamburger span {
        display: block;
        width: 25px;
        height: 8px;
        border-top: 2px solid #eee;
    }
}

/* MAIN CONTENT */
.main{
    min-width: 490px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content-container{
    min-width: 490px;
    max-width: 850px;
    width: 100%;
    margin-left: 0px;
}
.side-bar {
    max-width: 370px;
    margin-right:0px;
    width: 100%;
}
@media only screen and (max-width: 940px){
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:600px){
    .article-thumbnail-image{
        width: 30%;
    }
    .article-thumbnail-content{
        width: 70%;
    }
}
.header-image{
    background: url(/images/journal.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-title{
    font-size: 4.3rem;
    color: #ffffff;
}

/* THIS IS FOR THE CONTENT */
.content-title{
    font-size: 2.3rem;
    margin-top: 20px;
    padding: 20px;
}
.content{
    margin-top:20px;
    padding: 20px;
    background-color: #ffffff;
}
.article-thumbnail{
    margin-top:20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
/* .article-thumbnail-image{
    width: 20%;
    background: url(/images/journal.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
} */
.article-thumbnail-content{
    width: 100%;
    padding: 20px;
    font-size: 1rem;
}
.article-thumbnail-content-title{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.article-thumbnail-content-date{
    font-size: 0.9rem;
    color: #424242;
    margin-bottom: 5px;
}

/* FOR THE SIDEBAR */
#side-bar1{
    height:200px;
    background-image: url(/images/content-thumbnail/image1.jpeg);
    background-position: center;
    background-size: cover;
}
#side-bar3{
    height:300px;
    background-image: url(/images/content-thumbnail/image2.jpeg);
    background-position: center;
    background-size: cover;
}
.side-bar2.p{
    font-size: 0.9rem;
    margin-top: 5px;
    color: #5e5e5e;
}
.side-bar2.h2{
    font-weight:normal;
    font-size: 1.1rem;
    color: #363636;
}


#side-bar5{
    height:300px;
    background-image: url(/images/content-thumbnail/image3.jpeg);
    background-position: center;
    background-size: cover;
}
#side-bar6{
    height:100px;
    background-image: url(/images/content-thumbnail/image4.jpeg);
    background-position: center;
    background-size: cover;
}


/* THIS IS FOR THE COMPOSE PAGE */
.main-compose{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.compose{
    margin: 20px;
    background-color: #ffffff;
    padding: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
}
.compose-label{
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none;
}
#compose-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}
#form-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}
#title-input{
    width: 70%;
    background-color:  #f1f1f1;
    border: none;
    padding: 10px;
    color: black;
}
#title-input:focus{
    outline:none;
    background-color:#e2e2e2;
}    
#date-input{
    width: 300px;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    color: black;
}
#date-input:focus{
    outline:none;
    background-color:  #e2e2e2;
}
#img-input{
    border: none;
    width: 300px;
    background-color: #f1f1f1;
    cursor: pointer;
}
#img-input::-webkit-file-upload-button {
    border: none;
    padding: 10px;
    background-color: #dbdbdb;
    cursor: pointer;
}
#img-input::-webkit-file-upload-button:hover {
    background-color: #e9e9e9;
}
#content-input{
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    color: black;
    height: 500px;
    resize: none;
}
#content-input:focus {
    outline:none;
    background-color: #e2e2e2;
}
#post-btn{
    background-color: #0078ff;
    padding: 15px;
    border: none;
    width: 140px;
    color: white;
    cursor: pointer;
}
#post-btn:hover{
    background-color: #2d8fff;
}

/* THIS IS FOR THE MAIN ARTICLE POST */
.article{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.article-main-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.article-main-date{
    font-size: 0.9rem;
    color: #424242;
}